:root {
    --primaryColorBright: rgb(98, 210, 34);
    --primaryColorDark: rgb(57, 164, 59);
    --secondaryColorBright: rgb(46, 231, 237);
    --secondaryColorDark: rgb(58, 179, 197);

    --primaryGradient: linear-gradient(90deg, var(--primaryColorBright), var(--primaryColorDark));
    --secondaryGradient: linear-gradient(90deg, var(--secondaryColorBright), var(--secondaryColorDark));
}


body {
    background-color: #121319;
    color:white;
    font-family: Lexend, Rubik;
    font-size: 20px;
}

header {
    position:fixed;
    bottom:93%;
    border-bottom: 1px solid gray;
    text-align: center;
    
}

.main-container {
    position:absolute;
    top:7%;
}