body {
    background-color: #0a0a0b;
    color:white;
    font-family: Lexend, Rubik;
    font-size: 20px;
}

header {
    display:flex;
    top:0%;
    bottom:93%;
    left:0;
    position:fixed;
    background-color: #1e1f23;
    width:100vw;
    z-index:100;
    align-items: center;
}

.left-header {
    position:absolute;
    margin-left:1%;
    padding-right: 1%;
    border-right: 0.05em solid rgba(255, 255, 255, 0.307);
    display:flex;
    align-items: center;
    gap:1vw;
    font-size:1.5vw; 
    font-family: Lexend, Rubik;
}


#right-header {
    position:absolute;
    right:1%;
    margin-right:0.5%;
    display:flex;
    align-items: center;
    gap:1vw;
    font-size:0.75vw;
    color:rgba(255, 255, 255, 0.535);
    font-family: Lexend, Rubik;
}
.header-img {
    height:40px;
    filter: invert(1);
}

.header-button {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border:none; outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size:1vw;
    font-weight: 400;
    font-family: Lexend, Rubik;
}
.header-button:hover {
    filter: brightness(1.1);
}

.header-button-img {
    height:24px; width:24px;
    filter:invert(70%);
}

.menu-option {
    background-color: #1e1f23;
    border:none; outline: none;
}



#root {
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    left: 3%; right:3%;
    top:10%;
    height:87vh;
}

#popup-help-bg {
    position:fixed;
    top:0; left:0; right:0; bottom:0;
    z-index: 100;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(7, 7, 8, 0.363);
}

.popup-help {
    position:fixed;
    z-index: 101;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding:20px;
    width: 600px;
    background-color: rgb(21, 21, 23);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.807);
    font-size: 12px;
    font-family: Lexend, Rubik;
    font-weight: 300;
}

.square-def-section {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, 0.656);
    border-bottom: 1px solid rgba(255, 255, 255, 0.656);
}
.square-def {
    width:90%;
    display:grid;
    align-items: center;
    text-align: left;
    grid-template-columns: 1fr 3fr 8fr;
    gap:10px;
}
.help-highlight {
    font-size:14px;
    font-weight: 400;
}
.help-close-button {
    padding:5px 20px;
    background-color: #52b345;
    font-size: 16px;
    font-weight: 400;
    border:none; outline: none;
    font-family: Lexend, Rubik;
    color:white;
    cursor: pointer;
    border-radius: 5px;
}
.help-close-button:hover {
    background-color: #5dc350;
}