.eval-bar {
    background-color: rgb(51, 51, 51);
    margin-right:20px;
    font-size:55%;
    font-weight: 500;
    width:24px;
    position: relative;
    text-align: center;
}
.eval-bar-height {
    position:absolute;
    bottom:0;
    width:100%;
    background-color: white;
    color:black;
    text-align: center;
    font-weight: 700;
    transition:1.3s;
    transition-timing-function: cubic-bezier(.33,1,.68,1);
}
.white-eval-number {
    color:white;
    position: absolute;
    top:4px;
    right:0;
    left:0;
}
.black-eval-number {
    color:rgb(0, 0, 0);
    position: absolute;
    bottom:4px;
    right:0;
    left:0;
}