.eval-bar {
    background-color: rgb(51, 51, 51);
    margin-right:15px;
    font-size:60%;
    font-weight: 700;
    width:28px;
    position: relative;
    text-align: center;
}
.eval-bar-fill {
    position:absolute;
    bottom:0;
    height:50%;
    width:100%;
    background-color: white;
    color:black;
    font-size:12px;
    text-align: center;
    font-weight: 700;
    transition-duration:1s;
}
.white-eval-number {
    color:white;
    position: absolute;
    top:2px;
    right:0;
    left:0;
}
.black-eval-number {
    color:rgb(0, 0, 0);
    position: absolute;
    bottom:2px;
    right:0;
    left:0;
}