.piece-selector {
    padding:10px;
    background-color: rgba(65, 67, 73, 0.409);
}
.piece-selector-section {
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.piece-image {
    display:flex;
    justify-content: center;
    align-items: center;

    height: 80px; width: 80px;
    cursor: pointer;
}
.selected {
    background-color: rgba(239, 221, 32, 0.672);
}