.square-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    border: none; outline: none;
    height:16px; width:16px;
}
.board-piece-image-preview {
    height:16px; width:16px;
}