.square-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    cursor: pointer;
    border: none; outline: none;
    height:15px; width:15px;
}
.board-piece-image-preview {
    height:15px; width:15px;
}